.About {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 60px;

  height: 600px;

  background-color: #fbfbfd;
  width: 100%;
}

.about__contents {
  padding-left: 60px;
}

.about__contents--title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.015em;
  text-align: left;

  padding-bottom: 24px;
}

.about__contents--description {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgba(black, 0.8);
}

.about__contents--description a {
  font-family: "Montserrat";
}
