.About {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 80px;

  height: 600px;
  padding: 80px;
  background-color: #fbfbfd;
  border-top: 1px solid;

  place-items: center left;
}

.about--image {
  width: 750px;
  height: 440px;
  object-fit: cover;
}

.about__contents--title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.015em;
  text-align: left;

  padding-bottom: 24px;
}

.about__contents--description {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.015em;
  text-align: left;
  color: rgba(black, 0.8);
}

.about__contents--description a {
  font-family: "Montserrat";
}
