.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  border-bottom: solid 1px black;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
}

.Title {
  font-family: "Noto Sans", sans-serif;
  font-style: Black;
  font-size: 28px;
  font-weight: 900;
}

.Gnb {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border: none;
  background-color: transparent;
  margin-right: 60px;
}

.Gnb:hover {
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .Header {
    justify-content: flex-start;
    position: relative;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .Title {
    margin-right: 20px;
  }
  .Gnb {
    margin-right: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .Header {
    justify-content: flex-start;
  }

  .Title {
    margin-right: 20px;
  }
  .Gnb {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .Header {
    justify-content: flex-start;
  }

  .Title {
    margin-right: 20px;
  }
  .Gnb {
    margin-right: 10px;
  }
}
