html {
  width: 100vw;
  overflow-x: hidden;
}
/* 미디어 쿼리 작성하기 ㅜㅜ */

@media screen and (max-width: 599px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
