.Main {
  height: calc(100vh - 61px);
  background-color: #fbfbfd;
  padding: 120px 60px 120px 60px;
}

.main-header {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;

  letter-spacing: -0.015em;

  color: #0b0c10;
  text-align: center;

  margin-bottom: 20px;
}

.main-sub-header {
  text-align: center;

  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;

  letter-spacing: -0.015em;

  color: #0b0c10;

  margin-bottom: 60px;
}

.main-image__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  height: 640px;
}

.card1 {
  grid-area: 3 / 1 / 7 / 4;
}
.card2 {
  grid-area: 3 / 4 / 7 / 7;
}
.card3 {
  grid-area: 1 / 1 / 3 / 7;
}
.card4 {
  grid-area: 1 / 7 / 7 / 9;
}
.card5 {
  grid-area: 1 / 9 / 4 / 13;
}
.card6 {
  grid-area: 4 / 9 / 7 / 13;
}

@media screen and (max-width: 599px) {
  .Main {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-image__grid {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 80%;
  }
  .main-image__grid div {
    display: inline-block;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .Main {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-image__grid {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
  }
  .main-image__grid div {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .Main {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-image__grid {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
  }
  .main-image__grid div {
    display: inline-block;
  }
}
